{% extends "./layouts/guest.html" %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="h-screen w-full flex items-center justify-center ">
    <div class="w-full max-w-sm p-4 bg-white
                flex flex-col
                border border-gray-200 rounded-lg 
                shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

        <div class="flex flex-col items-center gap-2">
            <div class="bg-gray-200 p-3 rounded-full">
                <i class="fa-solid fa-right-to-bracket text-3xl"></i>
            </div>
            <h1 class="text-3xl">Sign In</h1>
        </div>

        <div class="mt-6 empty:hidden">
            {% if app.user %}
                <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400">
                    You are logged in as <span class="font-semibold text-blue-600">{{ app.user.userIdentifier }}</span> 
                    <a href="{{ path('app_logout') }}" class="px-2 py-1 rounded-md bg-gray-200 text-gray-600 hover:underline">
                        Logout
                    </a>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}  
        </div>
        
        <div class="mt-4">
            {% if error %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>

        <form class="w-full flex flex-col gap-4 mt-2" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div>
                <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input 
                        type="email" 
                        id="email" 
                        value="{{ last_username }}" 
                        name="_username"
                        required 
                        autofocus
                        autocomplete="new-password"
                        class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                        placeholder="johndoe@email.com">
                </div>
            </div>

            <div>
                <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <div class="flex">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <input 
                        type="password" 
                        id="password" 
                        name="_password"
                        autocomplete="new-password"
                        required
                        class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    >
                </div>
            </div>

            <div class="flex justify-center mt-1">
                <button 
                    type="submit" 
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Sign In
                </button>
            </div>
        </form>
        <p class="text-sm mt-4">
            No Account? <a class="text-blue-600" href="{{ path('app_register') }}">Register here.</a>
        </p>
        {% endif %}
    </div>
</div>

{% endblock body %}
