{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="mt-5" >
        <div class="flex justify-between items-center flex-row w-auto">
            <div class="w-[120px] flex items-center justify-start">
                {% if previous is defined %}
                    <a rel="prev" href="{{ path(route, knp_pagination_query(query, previous)) }}"
                        class="w-[35px] h-[35px] border border-gray-400 rounded-md flex items-center justify-center text-gray-600 text-lg">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                {% endif %}
            </div>
            <div class="flex gap-2">
                {% for page in pagesInRange %}
                    {% if page != current %}
                        <a href="{{ path(route, knp_pagination_query(query, page)) }}" 
                            class="h-[35px] w-[35px] flex items-center justify-center px-3 border border-gray-400 rounded-md">
                            {{ page }}
                        </a>
                    {% else %}
                        <span class="h-[35px] w-[35px] flex items-center justify-center px-3 border border-gray-400 rounded-md bg-amber-400 text-lg">{{ page }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="w-[120px] flex items-center justify-end">
                {% if next is defined %}
                    <a rel="next" href="{{ path(route, knp_pagination_query(query, next)) }}" 
                        class="w-[35px] h-[35px] border border-gray-400 rounded-md flex items-center justify-center text-gray-600 text-lg">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
